body {
  background-image: url("https://images.unsplash.com/photo-1466814314367-45323ac74e2b?dpr=2&auto=format&crop=entropy&fit=crop&w=1500&h=735&q=80&cs=tinysrgb");
  background-size: cover;
}
.welcome {
  text-align: center;
}
.authComponent {
  float: none;
  margin: auto;
}
.myEatups {
  float: right;
}
.deleteButton {
  float: right;
}
#searchTextField {
  width: 20em;
}
.signing {
  font-size: 1.2em;
}
.listing {
  font-size: 1.2em;
  font-weight: bold;
}
.card {
  border: 1px solid #ccc!important;
  border-radius: 16px!important;
  padding: 1em 2em;
  margin: 1em 0;
  background-color: white
}
.card-title {
  font-weight: bold;
}
.myEatUp {
  display: inline-block;
  margin: 0;
}

.allEatups {
  right: 200px;
  top: 30px;
}

.myEatups {
  background: rgba(255,255,255,0);
  border: 0px;
  left: 130px;
  top: 5px;
}

.eatupsList {
  width: 320px;
}

.eatupTitle {
  color: #EEEEEE !important;
}

.yourEatUpTitle {
  color: #EEEEEE !important;
}
